
    .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 790px;
        margin: auto;
        border-radius: 12px;
        border: 1px solid var(--Grey-200, #EAEBED);
        background: #FFF;
        padding: 24px;
        margin-bottom: 16px;
        text-align: center;
        .img {
            background-image: url(./assets/1.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 800px;
            height: 500px;
            margin: auto;
        }

        h2 {
            color: var(--Black, #232134);
            font: 600 20px Inter;
        }

        p {
            color: var(--Black, #232134);
            font: 600 16px Inter;
        }
    }

    .flex {
        display: flex;
        gap: 10px;
        margin: auto;

        p {
            color: var(--Black, #232134);
            font: 600 16px Inter;
        }
    }
